@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    width: 100%;
    overscroll-behavior-y: none;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

.c-info-message {
    box-shadow:
        4px 5px 5px -4px black,
        0 14px 30px -10px #1e293b4d !important;
}

input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    block-size: 32px;
    inline-size: 28px;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
    background: none;
    padding: 0;
}
input[type='color']::-webkit-color-swatch {
    border-radius: 999px;
    border: 1px solid var(--gray-300);
}
input[type='color']::-moz-color-swatch {
    border-radius: 999px;
    border: 1px solid var(--gray-300);
}
